
body{
    margin: 0px;
    padding: 0px;
}
.header{
   background:#04d3f7;
    overflow: hidden;
    padding:7px 0;
}
.d-flex{
    display: flex;
}
.container{
    width:65%;
    margin:auto;
}
.logo-area{
   
    width:30%;
    float:left;
    padding:8px;
    
}
.login-area,img{
    width:40%;
}
.login-area{
    width: 80%;
    float: left;
    color: #2107e1; 
}
.login-area form{
    float:right;
}
.login-area label,
.login-area input{
    display:block ;
}
.login-area label{
    font-size: 15px;
    margin: 3px;
}
.login-area .email,
.login-area .password,
.login-area .login{
   float:left;
   margin:12px;
}
.login-area label{
    font-size: 15px;
    margin-bottom: 5px;
}
/* .login-area .password  {
    text-align: center;
    display: inline-block;
} */
.login-area .login{
    margin-right: 0;

}
.login-area input[type="text"]{
     border: 1px solid  #f507f1;
     font-size: 12px;
     font-weight:300;
     padding: 2px 5px;
}
.login-area input[type="password"]{
    border: 1px solid #f507f1;
    font-size: 12px;
    font-weight: 300;
    padding: 2px 5px;
}
.login-area .password a{
    text-decoration: none;
    color: #0717f5;
    font-size: 20px;
    margin: -85px;
}
.login-area .password a:hover {
    text-decoration:underline;
}
.login-area input[type="submit"]{
    background-color: #f507f1;
    border: 1px solid snow;
    padding: 3px 8px;
    margin-top: 22px;
    font-weight: 300;
    font-style: inherit;
}
.login-area input[type="submit"]:hover{
    background-color: aliceblue;
    border: 1px solid #f507f1;
}

/* sigup */
.back{
    background: #a3b5a3;
}
.sigup-area{
    padding:10px;
}
.sigup-area::after{
    overflow: hidden;
    content: '';
    clear: both;
    display: block;
}
.pic{
    width: 50%;
    float: left;
    margin-right:5px;
}
.pic p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(68, 6, 148);
}
.pic img{
    width: 100%;
}
.sigup{
    width:40%;
    float: left;
    margin-left:10px;
}
.sigup h1{
    font-size:40px;
    color: #1c4a52;
    margin: 0%;
    
}
.sigup h4{
    font-size:20px ;
    color: #0717f5;
    font-weight:500;
    margin-bottom: 10px;
    margin-top:5px ;
}
.sigup input[type="text"],
.sigup input[type="password"]{
    width:90%;
    margin:5px 0;
}
.name{
    overflow:hidden;
}
.first-name{
    width: 45%;
    float: left;
    margin-right:5%;
}
.last-name{
width: 45%;
float: left;
}
.date{
overflow: hidden;
}
.date h3{
    margin-top:0;
    margin-bottom:5px;
}
.year-area{
overflow:hidden;
float:left;
margin-right:10px;
}
.year-area select{
    border:#12e616 1px solid;
    padding:5px;
    float: left;
    width: 60px;
    font-weight:400px;
}
.link{
    float:left;
    width:190px;
}
.link a{
    display: block;
    font-size:20px;
    text-decoration: none;
    line-height: 1.2;
    color: #e0114f;
}
.link a:hover{
    text-decoration: underline;
}
.gender label{
    font-size:20px;
    font-weight: 400;
    color: rgb(4, 4, 0);
}
.gender{
    margin: 10px 0;
}
.tex{
    margin-bottom: 20px;
}
.tex p {
    font-size: 20px;
    width:80% ;
}
.tex p a{
    text-decoration:none;
    color: #dd0f9f; 
    
}
.tex p a:hover{
    text-decoration: underline;
}
.btn input{
    background-color:#04d3f7;
    box-shadow: inset 0 1px #04ebe3;
    border-width: 1px;
    padding: 7px 14px;
    max-width: 200px;
    border-style: solid;
    color: #f8f3f3;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    transition: 0.5;
}
.btn input:hover{
    background: #f312ef;
    color: #000;
}
.footer-area{
    background:#89059b;
    padding:30px 0;

  
}
.footer-area ul{
    margin: 0;
    padding: 0;
}
.footer-area ul li{
    display: inline;
}
.footer-area ul li a{
    text-decoration: none;
    color: #0af593f2;
    font-size: 30px;

}
.footer-area .top ul li{
    margin-right:8px;
}
.footer-area .middle ul li{
    margin-right: 16px;
}
.footer-area .top ul li:last-child,
.footer-area .bottom ul li:last-child{
    margin-right: 0;
}
.footer-area hr{
    border-bottom: #013741 1px solid;
}
.footer-area .bottom{
    margin-top: 20px;
    text-align: center;
}

.footer-area span{
    color: #f7eff6;
    font-size: 20px;

}


